html {
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: 'Consolas', '微软雅黑';
  user-select: none;
  max-width: 450px;
}
body > * {
  max-width: 450px;
}
.title {
  padding: 1rem 5%;
  background: steelblue;
  color: white;
  margin: 2rem;
  box-shadow: 0 0.2rem 0.3rem #303030;
}
.title h1 {
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.dashboard {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: steelblue;
  box-sizing: border-box;
  box-shadow: 0 -0.1rem 0.2rem #303030;
  height: 3rem;
}
.dashboard .buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.dashboard .buttons button {
  float: left;
  width: 25%;
  height: 3rem;
  font-size: 1.3rem;
  color: white;
  border: 1px solid #ccc;
}
